<!DOCTYPE html>
<html lang="en">
{{template "head"}}
    <body>
    {{template "menu"}}

    <style>
        .search-bar {
            width: 750px;
            height: 50px;
            border-radius: 4px;
            background-color: #ffffff;
            margin: 35px auto 0 auto;
            border: 1px solid rgb(1, 201, 253);
            box-shadow: 0px 0px 6px 0px rgb(73, 181, 167);
        }

        .search-bar input {
            display: inline-block;
            height: 50px;
            vertical-align: top;
        }

        .search-bar input.search-bar-input {
            width: 690px;
            background-color: transparent;
            border: none;
            box-shadow: none;
            color: rgba(163, 171, 176, 1);
            font-size: 18px;
        }

        .search-bar .search-bar-submit {
            height: 100% !important;
            cursor: pointer !important;
            background-color: transparent;
            width: 50px;
            outline: none;
            border: none;
            float: right;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .search-bar .search-bar-submit-image {
            height: auto;
            width: auto;
        }

        .search-bar input.search-bar-submit:hover {
            cursor: pointer;
        }


        th {
            color: #9BA3AB;
        }

        .page-search-bar {
            margin: 5px auto 30px auto;
        }
    </style>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <table align="center">
            <tr>
                <td vertical-align="center">
                    <h1 class="display-4">{{.Coin}} <span class="hidden-xs">Blockchain Explorer</span></h1>

                    <form class="form-inline my-6 my-lg-0">
                        <div class="search-bar">
                            <input class="form-control search-bar-input" type="search" name="q" placeholder="Search for block height, hash, transaction, or address" autofocus="" autocomplete="off" aria-label="Search">
                            <button class="search-bar-submit" type="image" name=""><img class="search-bar-submit-image" src="/static/images/icons/search.svg" alt=""></button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 10px" class="container" id="app">
    <div>
        <h1 class="text-muted">Block ${ block.height }</h1>
        <div class="text-muted" id="blockhash">${ block.hash }
            <a class="fa fa-copy" role="button" data-clipboard-copy="aeec6596f5634b46962f608dbd562d8f63c2b757b1d89666f4f0726c38534e88"></a>
        </div>
        <p>
            <a :href="'/block/' + block.previousblockhash"  class="btn btn-outline-info" role="button">Previous</a>
            <a :href="'/block/' + block.nextblockhash" class="btn btn-outline-info" role="button">Next</a>
        </p>
    </div>

        <table class="table" style="table-layout: fixed">
            <tbody>
            <tr>
                <td><strong>Number Of Transactions</strong></td>
                <td class="text-right text-muted">${ block.tx.length }</td>
            </tr>
            <tr>
                <td><strong>Height</strong></td>
                <td class="text-right text-muted">${ block.height }
                    <span v-if="block.isMainChain" class="text-success">(Mainchain)</span>
                    <span class="text-danger" v-else> <span class="glyphicon glyphicon-warning-sign"></span> (Orphaned)</span>
                </td>
            </tr>
            <tr>
                <td><strong>Block Reward</strong></td>
                <td class="text-right text-muted">${ block.reward }</td>
            </tr>
            <tr>
                <td><strong>Timestamp</strong></td>
                <td class="text-right text-muted">${ block.time }</td>
            </tr>
            <tr>
                <td><strong>Mined by</strong></td>
                <td class="text-right text-muted">${ block.poolInfo.poolName }<a href="" target="_blank" title=""></a>
                </td>
            </tr>
            <tr>
                <td><strong>Merkle Root</strong></td>
                <td class="text-muted">${ block.merkleroot }</td>
            </tr>
            <tr>
                <td><strong>Previous Block</strong></td>
                <td class="text-right"><a :href="'/block/' + block.previousblockhash">${ block.height - 1}</a></td>
            </tr>
            </tbody>
        </table>

        <br>

        {{/*TODO*/}}
        <table class="table tabler">
            <thead>
            <tr>
                <th>Hash</th>
                <th>Value Out</th>
                <th>From (amount)</th>
                <th>To (amount)</th>
            </tr>
            </thead>
            <tbody>
            <th><code>3a97c71e2fc016bf449....</code></th>
                <td>0.782 {{ .Symbol }}</td>
                <td>Generation + fees </td>
                <td>Vc8wUgvZLvmZe6LcL8MmFq3XwedHYigDbT
                    <div>nulldata</div>
                </td>
            </tbody>
        </table>

    </div>
    <script type="text/javascript">
        vm = new Vue({
            delimiters: ['${', '}'],
            el: "#app",
            data: function () {
                return {
                    block: null
                }
            },
            mounted: function () {
                this.getLastBlocks();
            },
            methods: {
                getLastBlocks: function () {
                    const url = '/api/via/block/5ca78b039ccfec56373a4392c043bb9a6c77f8c2934af96b036c00dd2e4a0cfa';
                    axios.get(url).then(response => {
                        this.block = response.data
                    })
                },
            }
        });
    </script>
    </body>
</html>