{{define "footer"}}
<footer class="footer">
    <div class="container">
        <span class="text-muted">Verify message</span>
        <span class="text-muted">Broadcast transaction</span>
    </div>
</footer>
{{end}}