<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
    {{template "menu"}}
    <div class="container" id="app">
        <table align="center">
            <tr>
                <td><img width=85 height=85 src="static/images/viacoin.png" class="coin-logo"></td>
                <td vertical-align="center">
                    <h1 style="margin-top: 0">{{.}} <span class="hidden-xs">Blockchain Explorer</span></h1>
                    <p>
                        up to block <span id="up-to-block">3976825</span>
                    </p>
                </td>
            </tr>
        </table>

        <div class="row" id="search-row" style="margin-bottom: 10px">
            <div class="col-sm-3"></div>
            <form class="form-inline my-6 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Address, transaction">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <br />
            <br />
        </div>
        <br />

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Height</th>
                    <th>Age</th>
                    <th>Transactions</th>
                    <th>Total Sent</th>
                    <th>Total fees</th>
                    <th>Miner
                    <th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in blocks">
                    <td>${item.height}</td>
                    <td>${item.time}</td>
                    <td>${item.tx.length}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        {{template "footer"}}
    </div>

    <script type="text/javascript">
    vm=new Vue({
        delimiters: ['${', '}'],
        el:"#app",
        data: function() {
            return {
                blocks: []
            }
        },
        mounted:function(){
            this.getLastBlocks();
        },
        methods: {
            getLastBlocks:function() {
                const url = '/api/via/blocks';
                axios.get(url).then(response => {
                    var list = response.data;
                    this.$set(this, 'blocks', list);
                })
            }
        }
    });
    </script>
</body>
</html>
